body { margin: 0; padding: 0;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style:normal;
    color: #333;
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: transparent;
}
#map { position: absolute; top: 0; bottom: 0; width: 100%; }
#side-bar{position: absolute;left:.5em;top:.5vh;max-height:30vh;width:25vw;z-index:2;}
#popup{
    position: absolute;left:.5em;bottom:5vh;max-height:80vh;width:38em;z-index:2;overflow: scroll;
    border-radius: 15px;background-color: rgba(23, 22, 26, 0.8705882352941177);border-style:solid;border-width:1px;border-color: #3C3C3E;
    backdrop-filter: blur(7px);
}
.popup-container{border-radius: 15px;margin-left:10px;margin-right:10px;margin-top:10px;padding-top:15px;padding-bottom:15px;padding-left:10px;padding-right:10px;border-style:solid;border-width:1px;border-color: #3C3C3E;}
#filter-bar{position: absolute;right:.5em;top:.5vh;width:20vw;z-index:2;max-height: 98vh;overflow: scroll;}
.jet-color{background-color:#262629!important;color:white!important;}
.layer-btn{outline:none;background-color:transparent;color:white;width:.7em;height:.7em;}
.hide-btn{visibility: hidden;}
.bar-filter{width:100%;}
/* Legend Style */
.legend-bar{height:1em;width:100%;}
.dot-legend{height:.75em;width:.75em;border-radius: 100%;margin-right:8px;}
/* #Betriebs-Status-icon{height:1em;width:1em;border-radius: 100%;margin-right:8px;background-color:rgb(103, 213, 103)} */
.sub-text-popup{font-size: 1em;color:#515155;font-family:"Quicksand", sans-serif;font-weight: 700;}
.text-popup{font-size:1.8em;font-family:"Quicksand", sans-serif;font-weight: 400;}
.third-white-popup{font-size:1.6em;font-family:"Quicksand", sans-serif;font-weight: 400;}
#accordionExample{border-style:solid;border-width:1px;border-color: #3C3C3E}
.third-white-popup{font-size:1.6em;font-family:"Quicksand", sans-serif;font-weight: 400;}
.accordion-button.collapsed{color:#515155!important;background-color: transparent !important;}
button.accordion-button:focus{
    box-shadow: inherit;
}
.accordion-button,.accordion-button:hover {
    color: #72B8A4!important;
}
.accordion-button::after,.accordion-button:hover:after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%2372B8A4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}
.accordion-button.collapsed::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23515155'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}
#turbine-img{
    width:1.9em;
}
#manufacturing-img{
    width:7em;
}
#point-legend{background-color: #FFFC62;}
#heat-point-legend{background-image: linear-gradient(to right,rgb(255,252,28),rgb(209,229,240),rgb(253,219,199),rgb(239,138,98),rgb(178,24,43));}

@media only screen and (max-width: 860px) {
    /* #map { bottom: auto;height:40vh; } */
    #popup{
        left:.5%;right:auto;top:auto;bottom:4vh;max-height:36vh;width:99%;
    }
    #filter-bar{display:none;right:auto;left:0.2em;top:8vh;width:99%;max-height: 50vh;}
}
        